<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"/>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>-->
    <!--<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />-->
    <link href="../fonts/Montserrat/MontserratAlternates-Light.otf" rel="stylesheet" />
    <link href="./css/exam.css" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,700italic,600italic,300italic,200italic,400italic,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css" type="text/css"/>-->

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="logo-footer.png" />
    <title>
        <?php  echo $page_title ;?>
    </title>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div id="left_dashboard" class="col-md-12" style="height:100vh !important; ">
                        <div id="dashboard_student_details">
                            <img class="center-block" style="margin-top:15px; margin-bottom:45px; widt:95%" height="100" width="180" src="export/BetaGrades_logo2.png" />
                            <h4>Your Details</h4>
                            <hr />
                            <span id="key">Name :</span><span id="value"><?php echo $student->getName() ?></span>
                            <span id="key">Exam No: </span><span id="value"><?php echo $student->getExamNo() ?></span>
                            <span id="key">Exam:</span><span id="value"><?php echo $subject->getTitle(); ?></span>
                            <span id="key">Class:</span><span id="value"><?php echo $student->getClass() ?></span>
                        </div>
                        <div id="dashboard_question_navigation">
                            <h4>Question Navigation</h4>
                            <hr />
                            <form method="post" action="Exam">
                                <div id="end_exam_confirmation">
                                    <div class="center-block" style=" border-radius:4px;width:400px; background-color:white; height:230px; margin-top:10%; padding:15px !important;">
                                        <p id="delete_info" style="margin-bottom:100px; margin-top:10px">This Exam will be ended and your result compiled. Are you sure you want to proceed?</p>
                                        <button style="width:180px; padding:3px" type="submit" id="end_exam_button" value="end_exam" name="submit">SUBMIT EXAM</button>
                                        <button style="width:180px; padding:3px; margin-top:-5px !important" id="cancel_end_exam" type="button">CANCEL</button>

                                    </div>
                                </div>
                                <?php
                        //$que_size = sizeof($questions_row);
                        $que_size = $subject->getNumberOfQuestionsToAnswer();
                        $countt = 1;
                        $id = '';
                        while ($countt <= $que_size) {
                            $current_question = ($question->current+1);
                            if ($countt === $current_question){
                                $id = 'current_question';
                            }else {
                                $id = 'not_current_question';
                            }
                            if (isset($_SESSION['row_of_que_already_answered']) && !empty($_SESSION['row_of_que_already_answered'])) 
                            {
                                if ( array_key_exists($countt, $_SESSION['row_of_que_already_answered'] )){
                                    $btn_class = 'answered_question';
                                } else {
                                    $btn_class = 'not_answered_question';
                                }
                            }
                            

                            echo '<div  class="col-md-2"> <button id="'.$id.'" class="'.$btn_class.'"  type="submit" name="go_to_question" value="'.$countt.'">'.$countt.'</button></div>';
                            $countt++;
                        }
                        ?>
                        </div>
                        <div id="dashboard_end_exam">
                            <h4>End Examination</h4>
                            <hr />
                            <p style="width:80%">Make sure you have finished the exam before clicking this button </p>
                            <!--<button  type="submit" id="end_exam_button" value="end_exam" name="submit">SUBMIT EXAM</button>-->
                            <button type="button" id="pre_end_exam_button">SUBMIT EXAM</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12" style="padding:0 !important">
                        <div id="exam_details_and_time">
                            <div id="exam_title_and_instruction">
                                <h4>
                                    <?php echo strtoupper($subject->getTitle()) . ' - '. $subject->getClass() . ' - '. $subject->getTerm(). ' TERM'; ?>
                                </h4>
                                <p style="color:#999999; margin-top:-10px">
                                    <?php                           
                            
                            $instruction_id = $question->instruction_id ;
                            //$passage_id = $theValue['passage_id'] ;
                            $q = "SELECT instruction FROM instructions WHERE id = $instruction_id";
                            $r = mysqli_query($dbc, $q);
                            if ($r) {
                            	$rowInstruction =  mysqli_fetch_array($r, MYSQLI_ASSOC);
                                 
                                if (!empty($rowInstruction['instruction'])){
                                echo '<span style="margin-lef:35px; margin-top:45px !important; color:#666666"> Instruction: '.$rowInstruction['instruction']. '</span>'; 
                        
                            	}
                            }
                            ?>
                                </p>
                            </div>
                            <div id="exam_time_remaining">
                                <?php include ('timer-with-laps.html');?>
                            </div>
                        </div>
                    </div>
                    <div id="content_container" class="col-md-12">

                        <div id="content">
                            <h4 id="question_count" style="background-color:#0066FF; color:white">
                                <?php echo 'Question ' .($question->current + 1) . ' of ' . $subject->getNumberOfQuestionsToAnswer();?>
                            </h4>
                            <div class="col-l-12" style="borde:1px solid #999999; paddin:10px 30px; margin-top:-10px">
                                <?php
                            if (!empty($question->image)) {
                                echo '<div  class="accordion"><b class="center-block" style="width:200px"> <span class="glyphicon glyphicon-picture"></span> CLICK TO SEE DIAGRAM</b></div>';
                                echo '<div style="height:400px" class="panel">';
                                echo '<img class="center-block" style="margin-bottom:30px;float:lef; border-radius:3px; clear:both; 
                                borde:1px solid black; width:50%; height:auto" 
                                src="images/'.$question->image.'" />';
                                echo '</div>';
                            }
                        ?>
                                    <?php
                            $passage_id = $question->passage_id ;
                            $q = "SELECT title, content FROM passage WHERE id = $passage_id";
                            $r = mysqli_query($dbc, $q);
                            if ($r) {
                                $rowPassage =  mysqli_fetch_array($r, MYSQLI_ASSOC);
                                echo '<div class="accordion"><b class="center-block" style="width:200px">CLICK TO SEE PASSAGE  <span class="glyphicon glyphicon-tasks"></b></span></div>';
                                echo '<div class="panel">';
                                echo '<strong>'.$rowPassage['title'].'</strong><br/><br/>';
                                echo $rowPassage['content']; 
                                echo '</div>';
                            
                            }
                        ?>
                            </div>
                            <?php
                        $key = CRYPT_KEY;
                       ?>
                                <h3 id="question">
                                    <?php echo $exam->decrypt($question->question, $key) ;?>
                                </h3>
                                <table style="margin:30px">
                                    <tr height="50">
                                        <td width="750" colspan="2">
                                            <div id="radio_container">
                                                <span class="option_alphabeth">A</span>
                                                <input name="answer" <?php echo 'value="' .$question->option1. '"'; ?>
                                                <?php if ($question->option1 === $question->answer_selected) echo 'checked' ; ?> type="radio" clas="form-control" >
                                            </div>
                                            <label class="options"><?php echo $exam->decrypt($question->option1, $key) ;?></label>
                                        </td>
                                        <td width="750" colspan="2">
                                            <div id="radio_container">
                                                <span class="option_alphabeth">B</span>
                                                <input name="answer" <?php echo 'value="' .$question->option2. '"'; ?>
                                                <?php if ($question->option2 === $question->answer_selected) echo 'checked' ; ?> type="radio" clas="form-control" >
                                            </div>
                                            <label class="options"><?php echo $exam->decrypt($question->option2, $key) ;?></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="750" colspan="2">
                                            <div id="radio_container">
                                                <span class="option_alphabeth">C</span>
                                                <input name="answer" <?php echo 'value="' .$question->option3. '"'; ?>
                                                <?php if ($question->option3 === $question->answer_selected) echo 'checked' ; ?> type="radio" clas="form-control" >
                                            </div>
                                            <label class="options"><?php echo $exam->decrypt($question->option3, $key) ;?></label>
                                        </td>
                                        <td width="750" colspan="2">
                                            <div id="radio_container">
                                                <span class="option_alphabeth">D</span>
                                                <input name="answer" <?php echo 'value="' .$question->option4. '"'; ?>
                                                <?php if ($question->option4 === $question->answer_selected) echo 'checked' ; ?> type="radio" clas="form-control" >
                                            </div>
                                            <label class="options"><?php echo $exam->decrypt($question->option4, $key) ;?></label>
                                        </td>
                                    </tr>
                                </table>

                        </div>
                        <table style="margin:30px; margin-bottom:0">
                            <tr height="50">
                                <td width="750" colspan="2">
                                    <?php
                        if ($prev_button === true) {
                            echo '<button class="submit_button"  class="form-control" type="submit" name="submit" class="btn btn-default" value="Prev Question">&lang;&lang; PREVIOUS QUESTION </button>';
                        }else {
                        	echo '<div style=" float:left; cursor:pointer" id="null_button" class="submit_button" >&lang;&lang; PREVIOUS QUESTION</div>';                     
                        }
                        ?>
                                </td>
                                <td width="750" colspan="2">
                                    <?php
                        if ($button_value === 'FINISH EXAM'){
                        echo '<div style=" float:right; cursor:pointer" id="null_button" class="submit_button" >NEXT QUESTION &rang;&rang;</div>';
                        }else {
                        ?>
                                        <button style="float:right" class="submit_button" class="form-control" type="submit" name="submit" class="btn btn-default" <?php echo 'value="' .$button_value. '"' ;?>><?php   echo $button_value ; ?> &rang;&rang;</button>
                                        <?php
                       }
                       ?>
                                </td>
                            </tr>
                        </table>
                        </form>
                    </div>
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="../jquer.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/exam.js"></script>

</body>

</html>